<body>



<form class="main" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div class="container">
    <div class="right">

      <h3>Login</h3>

      <label>Username:</label>
      <input type="text" formControlName="username"/>

      <label>Password:</label>
      <input type="password" formControlName="password"/>
      <button class="button" type="submit">Login</button></div>

  </div>

</form>
  <div class="information">
    <h1 >demo user:<br> username: test<br> password: test</h1>
  </div>


</body>






