img {
  width: 110%;
  height: 100%;
}

img:hover {
  transform: scale(1.1);
}

.grid-container {
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: 15% 15% 15% 15% 15% 15% 15%;
  padding: 20px;
  margin-bottom: 80px;
  margin-left: -100px;
}

.grid-item {
  padding: 20px;
}
